# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.vs/watchmen/v15/.suo
.vs/watchmen/v15/Server/sqlite3/db.lock
.vs/watchmen/v15/Server/sqlite3/storage.ide
.vs/watchmen/v15/Server/sqlite3/storage.ide-shm
.vs/watchmen/v15/Server/sqlite3/storage.ide-wal
packages/Extended.Wpf.Toolkit.3.3.0/Extended.Wpf.Toolkit.3.3.0.nupkg
packages/Extended.Wpf.Toolkit.3.3.0/lib/net35/WPFToolkit.dll
packages/Extended.Wpf.Toolkit.3.3.0/lib/net35/Xceed.Wpf.Toolkit.dll
packages/Extended.Wpf.Toolkit.3.3.0/lib/net40/de/Xceed.Wpf.AvalonDock.resources.dll
packages/Extended.Wpf.Toolkit.3.3.0/lib/net40/es/Xceed.Wpf.AvalonDock.resources.dll
packages/Extended.Wpf.Toolkit.3.3.0/lib/net40/fr/Xceed.Wpf.AvalonDock.resources.dll
packages/Extended.Wpf.Toolkit.3.3.0/lib/net40/hu/Xceed.Wpf.AvalonDock.resources.dll
packages/Extended.Wpf.Toolkit.3.3.0/lib/net40/it/Xceed.Wpf.AvalonDock.resources.dll
packages/Extended.Wpf.Toolkit.3.3.0/lib/net40/pt-BR/Xceed.Wpf.AvalonDock.resources.dll
packages/Extended.Wpf.Toolkit.3.3.0/lib/net40/ro/Xceed.Wpf.AvalonDock.resources.dll
packages/Extended.Wpf.Toolkit.3.3.0/lib/net40/ru/Xceed.Wpf.AvalonDock.resources.dll
packages/Extended.Wpf.Toolkit.3.3.0/lib/net40/sv/Xceed.Wpf.AvalonDock.resources.dll
packages/Extended.Wpf.Toolkit.3.3.0/lib/net40/Xceed.Wpf.AvalonDock.dll
packages/Extended.Wpf.Toolkit.3.3.0/lib/net40/Xceed.Wpf.AvalonDock.Themes.Aero.dll
packages/Extended.Wpf.Toolkit.3.3.0/lib/net40/Xceed.Wpf.AvalonDock.Themes.Metro.dll
packages/Extended.Wpf.Toolkit.3.3.0/lib/net40/Xceed.Wpf.AvalonDock.Themes.VS2010.dll
packages/Extended.Wpf.Toolkit.3.3.0/lib/net40/Xceed.Wpf.DataGrid.dll
packages/Extended.Wpf.Toolkit.3.3.0/lib/net40/Xceed.Wpf.Toolkit.dll
packages/Extended.Wpf.Toolkit.3.3.0/lib/net40/zh-Hans/Xceed.Wpf.AvalonDock.resources.dll
packages/Extended.Wpf.Toolkit.3.3.0/tools/install.ps1
packages/HtmlAgilityPack.1.8.0/HtmlAgilityPack.1.8.0.nupkg
packages/HtmlAgilityPack.1.8.0/lib/Net20/HtmlAgilityPack.dll
packages/HtmlAgilityPack.1.8.0/lib/Net20/HtmlAgilityPack.pdb
packages/HtmlAgilityPack.1.8.0/lib/Net20/HtmlAgilityPack.xml
packages/HtmlAgilityPack.1.8.0/lib/Net40-client/HtmlAgilityPack.dll
packages/HtmlAgilityPack.1.8.0/lib/Net40-client/HtmlAgilityPack.pdb
packages/HtmlAgilityPack.1.8.0/lib/Net40-client/HtmlAgilityPack.xml
packages/HtmlAgilityPack.1.8.0/lib/Net40/HtmlAgilityPack.dll
packages/HtmlAgilityPack.1.8.0/lib/Net40/HtmlAgilityPack.pdb
packages/HtmlAgilityPack.1.8.0/lib/Net40/HtmlAgilityPack.XML
packages/HtmlAgilityPack.1.8.0/lib/Net45/HtmlAgilityPack.dll
packages/HtmlAgilityPack.1.8.0/lib/Net45/HtmlAgilityPack.pdb
packages/HtmlAgilityPack.1.8.0/lib/Net45/HtmlAgilityPack.XML
packages/HtmlAgilityPack.1.8.0/lib/NetCore45/HtmlAgilityPack.dll
packages/HtmlAgilityPack.1.8.0/lib/NetCore45/HtmlAgilityPack.pdb
packages/HtmlAgilityPack.1.8.0/lib/NetCore45/HtmlAgilityPack.XML
packages/HtmlAgilityPack.1.8.0/lib/netstandard1.3/HtmlAgilityPack.deps.json
packages/HtmlAgilityPack.1.8.0/lib/netstandard1.3/HtmlAgilityPack.dll
packages/HtmlAgilityPack.1.8.0/lib/netstandard1.3/HtmlAgilityPack.pdb
packages/HtmlAgilityPack.1.8.0/lib/netstandard1.3/HtmlAgilityPack.xml
packages/HtmlAgilityPack.1.8.0/lib/netstandard1.6/HtmlAgilityPack.deps.json
packages/HtmlAgilityPack.1.8.0/lib/netstandard1.6/HtmlAgilityPack.dll
packages/HtmlAgilityPack.1.8.0/lib/netstandard1.6/HtmlAgilityPack.pdb
packages/HtmlAgilityPack.1.8.0/lib/netstandard1.6/HtmlAgilityPack.xml
packages/HtmlAgilityPack.1.8.0/lib/netstandard2.0/HtmlAgilityPack.deps.json
packages/HtmlAgilityPack.1.8.0/lib/netstandard2.0/HtmlAgilityPack.dll
packages/HtmlAgilityPack.1.8.0/lib/netstandard2.0/HtmlAgilityPack.pdb
packages/HtmlAgilityPack.1.8.0/lib/netstandard2.0/HtmlAgilityPack.xml
packages/HtmlAgilityPack.1.8.0/lib/portable-net45+netcore45+wp8+MonoAndroid+MonoTouch/HtmlAgilityPack.dll
packages/HtmlAgilityPack.1.8.0/lib/portable-net45+netcore45+wp8+MonoAndroid+MonoTouch/HtmlAgilityPack.pdb
packages/HtmlAgilityPack.1.8.0/lib/portable-net45+netcore45+wp8+MonoAndroid+MonoTouch/HtmlAgilityPack.XML
packages/HtmlAgilityPack.1.8.0/lib/portable-net45+netcore45+wpa81+wp8+MonoAndroid+MonoTouch/HtmlAgilityPack.dll
packages/HtmlAgilityPack.1.8.0/lib/portable-net45+netcore45+wpa81+wp8+MonoAndroid+MonoTouch/HtmlAgilityPack.pdb
packages/HtmlAgilityPack.1.8.0/lib/portable-net45+netcore45+wpa81+wp8+MonoAndroid+MonoTouch/HtmlAgilityPack.XML
packages/HtmlAgilityPack.1.8.0/lib/uap10.0/HtmlAgilityPack.dll
packages/HtmlAgilityPack.1.8.0/lib/uap10.0/HtmlAgilityPack.pdb
packages/HtmlAgilityPack.1.8.0/lib/uap10.0/HtmlAgilityPack.pri
packages/HtmlAgilityPack.1.8.0/lib/uap10.0/HtmlAgilityPack.XML
watchmen/bin/Debug/de/Xceed.Wpf.AvalonDock.resources.dll
watchmen/bin/Debug/es/Xceed.Wpf.AvalonDock.resources.dll
watchmen/bin/Debug/fr/Xceed.Wpf.AvalonDock.resources.dll
watchmen/bin/Debug/HtmlAgilityPack.dll
watchmen/bin/Debug/HtmlAgilityPack.pdb
watchmen/bin/Debug/HtmlAgilityPack.xml
watchmen/bin/Debug/hu/Xceed.Wpf.AvalonDock.resources.dll
watchmen/bin/Debug/it/Xceed.Wpf.AvalonDock.resources.dll
watchmen/bin/Debug/pt-BR/Xceed.Wpf.AvalonDock.resources.dll
watchmen/bin/Debug/ro/Xceed.Wpf.AvalonDock.resources.dll
watchmen/bin/Debug/ru/Xceed.Wpf.AvalonDock.resources.dll
watchmen/bin/Debug/sv/Xceed.Wpf.AvalonDock.resources.dll
watchmen/bin/Debug/watchmen.exe
watchmen/bin/Debug/watchmen.exe.config
watchmen/bin/Debug/watchmen.pdb
watchmen/bin/Debug/wspd.exe
watchmen/bin/Debug/wspd.exe.config
watchmen/bin/Debug/wspd.pdb
watchmen/bin/Debug/Xceed.Wpf.AvalonDock.dll
watchmen/bin/Debug/Xceed.Wpf.AvalonDock.Themes.Aero.dll
watchmen/bin/Debug/Xceed.Wpf.AvalonDock.Themes.Metro.dll
watchmen/bin/Debug/Xceed.Wpf.AvalonDock.Themes.VS2010.dll
watchmen/bin/Debug/Xceed.Wpf.DataGrid.dll
watchmen/bin/Debug/Xceed.Wpf.Toolkit.dll
watchmen/bin/Debug/zh-Hans/Xceed.Wpf.AvalonDock.resources.dll
watchmen/obj/Debug/App.g.cs
watchmen/obj/Debug/App.g.i.cs
watchmen/obj/Debug/commonForms/AddonListForm.baml
watchmen/obj/Debug/commonForms/AddonListForm.g.cs
watchmen/obj/Debug/commonForms/AddonListForm.g.i.cs
watchmen/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
watchmen/obj/Debug/MainWindow.baml
watchmen/obj/Debug/MainWindow.g.cs
watchmen/obj/Debug/MainWindow.g.i.cs
watchmen/obj/Debug/ProgressBarDialogWindow.baml
watchmen/obj/Debug/ProgressBarDialogWindow.g.cs
watchmen/obj/Debug/ProgressBarDialogWindow.g.i.cs
watchmen/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
watchmen/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
watchmen/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
watchmen/obj/Debug/watchman.csproj.CopyComplete
watchmen/obj/Debug/watchman.csproj.CoreCompileInputs.cache
watchmen/obj/Debug/watchman.csproj.FileListAbsolute.txt
watchmen/obj/Debug/watchman.csproj.GenerateResource.cache
watchmen/obj/Debug/watchman.csprojAssemblyReference.cache
watchmen/obj/Debug/watchmen.exe
watchmen/obj/Debug/watchmen.g.resources
watchmen/obj/Debug/watchmen.pdb
watchmen/obj/Debug/watchmen.Properties.Resources.resources
watchmen/obj/Debug/watchmen_MarkupCompile.cache
watchmen/obj/Debug/watchmen_MarkupCompile.i.cache
watchmen/obj/Debug/watchmen_MarkupCompile.i.lref
watchmen/obj/Debug/watchmen_MarkupCompile.lref
watchmen/obj/Debug/webpageForms/ArmaholicForm.baml
watchmen/obj/Debug/webpageForms/ArmaholicForm.g.cs
watchmen/obj/Debug/webpageForms/ArmaholicForm.g.i.cs
watchmen/obj/Debug/webpageForms/WebPageForm.baml
watchmen/obj/Debug/webpageForms/WebPageForm.g.cs
watchmen/obj/Debug/webpageForms/WebPageForm.g.i.cs
watchmen/obj/Debug/WebPagesList.baml
watchmen/obj/Debug/WebPagesList.g.cs
watchmen/obj/Debug/WebPagesList.g.i.cs
wspd/wspd/bin/Debug/HtmlAgilityPack.dll
wspd/wspd/bin/Debug/HtmlAgilityPack.pdb
wspd/wspd/bin/Debug/HtmlAgilityPack.xml
wspd/wspd/bin/Debug/wspd.exe
wspd/wspd/bin/Debug/wspd.exe.config
wspd/wspd/bin/Debug/wspd.pdb
wspd/wspd/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
wspd/wspd/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
wspd/wspd/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
wspd/wspd/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
wspd/wspd/obj/Debug/wspd.csproj.CopyComplete
wspd/wspd/obj/Debug/wspd.csproj.CoreCompileInputs.cache
wspd/wspd/obj/Debug/wspd.csproj.FileListAbsolute.txt
wspd/wspd/obj/Debug/wspd.csprojAssemblyReference.cache
wspd/wspd/obj/Debug/wspd.exe
wspd/wspd/obj/Debug/wspd.pdb
